.category {
  position: relative;
  background-color: $basic-grey;
  padding: 30px 20px 20px;

  img {
    position: absolute;
  }
}

.category--slim {
  img {
    top: 21px;
    left: 22px;
  }
}

.category--pro {
  img {
    top: 24px;
    left: 13px;
  }
}

.category__title {
  margin: 0;
  padding-left: 70px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
}

.category__description {
  margin: 0 0 15px;
  padding-top: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey-2;
  font: 400 14px/18px "Arial", sans-serif;
  color: $special-dark-grey;
}

.category__link {
  display: inline-flex;
  align-items: center;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  font: 400 16px/18px $font-family;

  span {
    display: flex;
    align-items: center;
    width: 32px;
    margin-left: 15px;
    overflow: hidden;
  }

  svg {
    width: 32px;
    margin-left: -8px;
    transition: margin-left 0.2s ease;
  }

  &:hover {
    svg {
      margin-left: 0;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .category {
    padding: 77px 316px 57px 52px;

    img {
      left: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .category--slim {
    img {
      width: 200px;
      height: 211px;
      right: 62px;
    }
  }

  .category--pro {
    img {
      width: 268px;
      height: 212px;
      right: 28px;
    }
  }

  .category__description {
    padding-bottom: 50px;
    margin-bottom: 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  .category__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 1;
  }

  .category__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .category {
    padding: 80px 50px 58px;

    img {
      transform: none;
      right: auto;
    }
  }

  .category--slim {
    img {
      width: 100px;
      height: 106px;
      left: 52px;
      top: 41px;
    }
  }

  .category--pro {
    img {
      width: 134px;
      height: 100px;
      left: 33px;
      top: 47px;
    }
  }

  .category__title {
    padding-left: 162px;
    padding-bottom: 73px;
  }

  .category__description {
    padding-top: 0;
    padding-bottom: 23px;
  }
}
