.field-textarea {
  display: flex;
  align-items: flex-start;

  textarea {
    padding: 11px 14px 12px;
    border: 1px solid $grey-4;
    flex-grow: 1;
    font: 400 16px/20px $font-family;
    color: $special-dark-grey;
    text-transform: uppercase;
    resize: vertical;
    min-height: 150px;

    &:hover {
      border-color: $special-grey;
    }

    &:invalid {
      border-color: $status-error;
    }

    &:focus {
      outline: none;
      border-color: $special-dark-grey;
    }
  }
}

.field-textarea--invalid textarea {
  border-color: $status-error;
}
