@use "../variables" as *;

.field-textarea {
  display: flex;
  align-items: flex-start;

  textarea {
    padding: 11px 14px 12px;
    border: 1px solid $grey-4;
    flex-grow: 1;
    font: 400 16px/20px $font-family;
    color: $special-dark-grey;
    text-transform: uppercase;
    resize: vertical;
    min-height: 150px;
    transition: border-color 0.2s ease;

    &:hover,
    &:focus {
      padding: 10px 13px 11px;
    }

    &:hover {
      border: 2px solid $special-grey;
    }

    &:focus {
      outline: none;
      border: 2px solid $special-dark-grey;
    }
  }
}

.field-textarea--invalid textarea {
  padding: 10px 13px 11px;
  border: 2px solid $status-error;
}

@media (min-width: $tablet-width) {
  .field-textarea {
    textarea {
      font-size: 20px;
      line-height: 30px;
      padding-left: 19px;
      padding-right: 19px;

      &:hover,
      &:focus {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
  }

  .field-textarea--invalid textarea {
    padding-left: 18px;
    padding-right: 18px;
  }
}
