@use "../variables" as *;

.main__advantages {
  margin-bottom: 50px;
}

.main__categories {
  margin-bottom: 20px;
}

.main__title {
  padding: 27px 20px 40px;
  margin: 0 auto;
  line-height: 1;
  width: $mobile-width;
}

.main__title--form {
  padding-bottom: 37px;
}

.main__catalog {
  margin-bottom: 25px;
}

.main__form {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .main__title {
    margin: 0 auto;
    width: $tablet-container;
    padding-left: 0;
    padding-right: 0;
  }

  .main__title--form {
    padding-bottom: 54px;
  }

  .main__categories {
    margin-bottom: 45px;
  }

  .main__advantages {
    margin-bottom: 100px;
  }

  .main__catalog {
    margin-bottom: 68px;
  }

  .main__form {
    margin-bottom: 72px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .main__title--form {
    width: $tablet-width;
    padding-left: 69px;
    padding-right: 69px;
  }
}

@media (min-width: $desktop-width) {
  .main__intro {
    margin-bottom: 82px;
  }

  .main__title {
    width: $desktop-container;
  }

  .main__categories {
    margin-bottom: 71px;
  }

  .main__advantages {
    margin-bottom: 120px;
  }

  .main__catalog {
    margin-bottom: 76px;
  }

  .main__form {
    margin-bottom: 82px;
  }
}
