.more-products {
  width: 100%;
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.more-products__plus {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: calc(50% - 15px);
  overflow: hidden;

  svg {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
  }
}

.more-products__title {
  margin: 0 0 8px;
  font: 400 16px/20px $font-family;
  text-transform: uppercase;
  color: $special-dark-grey-3;
}

.more-products__text {
  margin: 0 0 21px;
  font: 400 12px/16px "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .more-products {
    align-items: center;
    border: 1px solid $basic-grey;
    padding: 160px 36px 38px 37px;
  }

  .more-products__plus {
    top: 52px;
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
  }

  .more-products__title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    width: 135px;
  }

  .more-products__text {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
  }

  .more-products__link {
    margin-top: auto;
    align-self: stretch;
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    padding: 160px 38px 39px 38px;
  }
}
