.page-intro {
  width: 100%;
  position: relative;
  padding-top: 28px;
  text-align: center;
  line-height: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 302px;
    display: block;
  }

  &::before {
    background: url("../img/index-intro.jpg") no-repeat center bottom;
    background-size: 800px 325px;
  }

  &::after {
    background-color: rgba($basic-green, 0.85);
  }
}

.page-intro__wrapper {
  width: $mobile-width;
  padding: 0 20px 0;
  margin: 0 auto 20px;
}

.page-intro__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
}

.page-intro__subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.page-intro__button {
  font-size: 14px;
  line-height: 18px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .page-intro {
    text-align: left;
    position: relative;
    min-height: 810px;

    &::before,
    &::after {
      display: none;
    }
  }

  .page-intro__wrapper {
    width: $tablet-container;
  }

  .page-intro__title {
    margin-left: 87px;
    color: $black;
  }

  .page-intro__subtitle {
    margin-left: 87px;
    color: $black;
  }

  .page-intro__button {
    margin-top: 13px;
    margin-left: 87px;
    width: auto;
  }

  .page-intro__image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .page-intro {
    min-height: 580px;
  }

  .page-intro__wrapper {
    width: $desktop-container;
  }

  .page-intro__title {
    margin-top: 110px;
    margin-left: 80px;
    color: $black;
  }

  .page-intro__subtitle {
    margin-left: 80px;
    color: $black;
  }

  .page-intro__button {
    margin-left: 80px;
  }

  .page-intro__image {
    right: 220px;
    bottom: auto;
    top: 40px;
    width: 552px;
    height: 499px;
  }
}
