@use "../variables" as *;

.page-header {
  position: relative;
  border-bottom: 1px solid $grey-3;
}

.page-header__wrapper {
  width: $mobile-width;
  height: 65px;
  margin: 0 auto;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;

  img {
    width: 191px;
    height: 37.61px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    transition: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: none;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: $tablet-container;
    height: auto;
    min-height: 76px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-header__logo {
    display: block;

    img {
      display: block;
      width: 174px;
      height: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-container;
    min-height: 112px;
  }

  .page-header__logo {
    //width: 202px;
    //height: 59px;

    img {
      width: 202px;
      height: 59px;
    }
  }
}
