.page-header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: $tablet-container;
    height: 78px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-header__logo {
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-container;
  }
}
