.product {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
}

.product__image {
  width: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product__description {
  flex-grow: 1;
}

.product__title {
  font: 400 16px/20px $font-family;
  margin-top: 0;
  margin-bottom: 18px;
  max-width: 90px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.product__specification {
  margin: 0;
  font: 400 12px/16px "Arial", sans-serif;
  color: $special-dark-grey;

  dd {
    margin: 0;
  }
}

.product__specification-line {
  display: flex;
  justify-content: space-between;
}

.product__order-button {
  display: block;
  width: 100%;
  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .product {
    width: 100%;
    background-color: $basic-grey;
    max-width: none;
    position: relative;
    padding: 161px 38px 39px;
  }

  .product__image {
    position: absolute;
    display: flex;
    min-height: 210px;
    top: -210px;
    left: 0;
    right: 0;
    width: auto;
    transform: translateY(135px);

    img {
      margin: auto auto 0;
      width: auto;
    }
  }

  .product__title {
    margin-bottom: 15px;
    max-width: none;
    text-align: center;
    font-size: 20px;
    line-height: 24px;

    span {
      display: block;
    }
  }

  .product__specification {
    font-size: 16px;
    line-height: 20px;
  }

  .product__specification-line {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid $special-grey;
  }

  .product__order-button {
    margin-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding-bottom: 40px;
  }


  .product__image {
    transform: translateY(125px);
  }
}
