.promo {
  width: 280px;
  min-height: 290px;
  background: url("../img/promo-bg-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.promo__icon {
  margin-top: 59px;
  margin-bottom: 48px;
}

.promo__text {
  margin: 0;
  font: 400 16px/20px "Arial", sans-serif;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .promo {
    width: $tablet-container;
    min-height: 200px;
    padding: 57px 124px 60px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/promo-bg-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("../img/promo-bg-tablet@2x.jpg");
    }
  }

  .promo__icon {
    margin: 0;
    width: 80px;
    height: 82px;
  }

  .promo__text {
    width: 161px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;
    flex-direction: column;
    justify-content: center;
    padding: 55px 40px 42px;
    background-image: url("../img/promo-bg-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("../img/promo-bg-tablet@2x.jpg");
    }
  }

  .promo__icon {
    margin-bottom: 40px;
  }

  .promo__text {
    width: auto;
    text-align: center;
  }
}
