@use "../variables" as *;

.social-link {
  position: relative;
  width: 28px;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;

  &:hover svg {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.3;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    transition: fill 0.2s ease;
    fill: $special-grey-2;
  }
}
